$banner-sizes: (
    leaderboard: (
        w: 728px,
        h: 90px
    ),
    
    large-mobile: (
        w: 320px,
        h: 100px
    ),
    
    square: (
        w: 250px,
        h: 250px
    ),
    
    skyscraper: (
        w: 160px,
        h: 600px
    ),
);