.modal-sign{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    &:not([is-page="true"]){
        position: fixed;
        width: 100%;
        min-height: 100vh;
        top: 0;
        left: 0;
        z-index: 50000;
        overflow: auto;
        padding: 48px 0;
        background: customColor(color-black, transp-50);
        display: none;
    }

    &[is-page="true"]{
        &:before{
            display: none;
        }

        .modal-content{
            border: 1px solid customColor(neutral, transp-25);
            margin: 48px 0;
            box-shadow: none;
            width: 550px;
            max-height: none;
        }

        &:not(.keep-style){
            .modal-body{
                .content-tab{
                    position: static;
                    width: auto;
                }
            }
        }
    }

    .modal-content{
        background: white;
        border-radius: $border-radius;
        width: 90%;
        margin: 0 auto;
        max-height: 90vh;
        overflow: auto;

        @media screen and (min-width: 768px){
            width: 446px;
        }

        .modal-nav{
            padding: 24px;
            border-bottom: 1px solid transparentize($color: #979797, $amount: .5);
            position: relative;
            min-height: 73.2px;

            .modal-nav-link{
                color: customColor(neutral, transp-25);
                font-weight: 600;
                margin-left: 32px;
                text-decoration: none;
                transition: $transitions;

                &:first-child{
                    margin-left: 0;
                }

                &:hover, &.active{
                    color: customColor(neutral, base);
                }
            }

            .modal-close-button{
                position: absolute;
                color: customColor(neutral, base);
                text-decoration: none;
                right: 24px;
                line-height: 1;
                font-size: 24px;
            }

            .selected-arrow{
                width: 12px;
                height: 12px;
                border-top: 1px solid transparentize($color: #979797, $amount: .5);
                border-left: 1px solid transparentize($color: #979797, $amount: .5);
                background: white;
                transform: rotate(45deg);
                position: absolute;
                bottom: -6px;
                transition: .5s ease-in-out;
            }
        }

        .modal-body{
            padding: 48px;
            overflow: hidden;
            position: relative;
            transition: .5s ease-in-out;

            .content-tab{
                width: calc(100% - 96px);
                position: absolute;
                top: 48px;
                transition: .5s ease-in-out;

                &.content-sign-in{    
                    left: -100%;
                }

                &.content-sign-up{
                    right: -100%;
                }

                &.active{
                    &.content-sign-in{    
                        left: 48px;
                    }
    
                    &.content-sign-up{
                        right: 48px;
                    }    
                }
            }

            .modal-social{
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                @media screen and (min-width: 768px){
                    flex-wrap: nowrap;
                }

                .g-signin{
                    margin-top: 8px;

                    & + br{
                        display: none;
                    }
                }

                .social-modal-button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: $border-radius-button;
                    padding: 16px;
                    text-decoration: none;
                    flex-grow: 1;
                    width: 100%;

                    @media screen and (min-width: 768px){
                        width: auto;
                    }
                    
                    .fa{
                        font-size: 18px;
                        margin-right: 16px;
                    }

                    &.facebook-button{
                        background: #1877F2;
                        color: white;
                        transition: $transitions;

                        &:hover{
                            background: darken(#1877F2, 5%);
                        }
                    }

                    &.google-button{
                        background: #eee;
                        color: #40455D;
                        transition: $transitions;
                        margin-top: 8px;
                        
                        @media screen and (min-width: 768px){
                            margin-top: 0;
                            margin-left: 8px;
                        }

                        &:hover{
                            background: darken(#eee, 5%);
                        }

                        img{
                            margin-right: 16px;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

            .or-label{
                display: block;
                text-align: center;
                margin-top: 16px;
                line-height: 1;
            }

            .modal-form{
                margin-top: 16px;

                .input{
                    width: 100%;
                    margin-top: 8px;

                    &:first-child{
                        margin-top: 0;
                    }
                }

                .checkbox{
                    margin-top: 8px;

                    & + #reCaptchaContainer{
                        margin-top: 8px;
                    }
                }

                @media screen and (max-width: 425px){
                    #reCaptchaContainer *{
                        max-width: 100%;
                    }
                }
            }

            .form-actions{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 8px;

                @media screen and (min-width: 768px){
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    margin-top: 4px;
                }

                .form-remember{
                    color: customColor(neutral, transp-75);
                    margin: 0;

                    input{
                        margin-right: 4px;
                    }
                }

                & + .form-button{
                    margin-top: 32px;
                }

                .form-lost-password{
                    margin-left: 8px;

                    @media screen and (min-width: 768px){
                        margin-left: 0;
                    }
                }
            }
            
            @media screen and (max-width: 425px){
                .g-recaptcha *{
                    max-width: 100%;
                }
            }

            .form-button{
                margin-top: 16px;

                .button{
                    width: 100%;
                    text-align: center;
                    display: inline-block;
                }
            }

            .privacy-policy{
                color: customColor(neutral, base);
                text-align: center;
                display: block;
                margin-top: 8px;

                .link{
                    font-size: inherit;
                }
            }

            .not-member{
                display: block;
                line-height: 1;
                color: customColor(neutral, transp-75);
                text-align: center;
                margin-top: 8px;
            }
        }
    }

    &.sign-modal{
        .modal-content{
            width: 446px;
        }
    }

    &.login-page-advertise{
        .modal-content .modal-body .content-tab{
            position: static;
            width: 100%;
        }

        .checkbox{
            margin-top: 16px;
        }
    }
}
