vendor/
.idea/

### Symfony ###
/web/bundles/
/app/bootstrap.php.cache
app/cache/
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/check.php
/app/SymfonyRequirements.php
/build/
/vendor/
/bin/
.travis.yml
# eDirectory Ignores
##########################
/web/.htaccess
config.inc.php
domain.inc.php
reg.key
web/custom/reg.key
web/custom/*/tmp/*
web/custom/domain_*/
web/assets/css/style_theme_1.css
web/assets/css/style.css
web/assets/css/demobar_part_1_demobar_1.css
web/assets/css/demobar.css
web/assets/*/css/*.css
web/js/
public_html/
!web/dist/
app/Resources/upgrades/*
!app/Resources/upgrades/.gitkeep
# eDirectory Ignores - Symfony Files
##########################
/app/config/config_app.yml
/app/config/domain.yml
!/app/config/*.yml.dist
/app/config/domains/*
!/app/config/domains/.gitkeep
!/app/config/domains/*.yml.sample
/app/Resources/translations/*com.*.xlf
# Custom Ignores
##########################
web/media
web/custom/tmp/*
!web/custom/tmp/.gitkeep
!web/custom/tmp/index.*
web/custom/profile/*
!web/custom/profile/.gitkeep
!web/custom/profile/index.*
web/custom/log/*
!web/custom/log/.gitkeep
!web/custom/log/index.*
web/custom/domain/*
!web/custom/domain/domain.inc.php.sample
!web/custom/domain/index.*

app/DoctrineMigrations/Domain/VersionEventAssociationListing.php
app/DoctrineMigrations/Domain/VersionEventAssociationListing2.php
app/DoctrineMigrations/Domain/VersionEventAssociationListing3.php
web/sitemgr/content/listing/event.php
app/Resources/base/styles/modstore/*.scss
web/sitemgr/assets/img/widget-placeholder/bottom-drawer.jpg
web/sitemgr/assets/img/widget-placeholder/left-drawer.jpg
web/sitemgr/assets/img/widget-placeholder/pop-up-modal.jpg
web/sitemgr/assets/img/widget-placeholder/right-drawer.jpg
web/sitemgr/assets/img/widget-placeholder/top-drawer.jpg
web/*.log
web/sitemgr/*.log
composer.phar
image_uploads/*

