{
    "default": "edirectory.arcasolutions.com",
    "doctor": "edirectory-doctor.arcasolutions.com",
    "restaurant": "edirectory-restaurant.arcasolutions.com",
    "wedding": "edirectory-wedding.arcasolutions.com"
}