<div class="text-center social-follow">
    {% for name, url in item.socialNetwork %}
        <a href="{{ url }}" target="_blank" rel="noopener noreferrer" class="{{ name }}"></a>
    {% endfor %}
</div>
