<div class="section-headers" data-align="{{ content.dataAlignment }}" data-bg="{{ content.backgroundColor }}" has-gap>
    <div class="container">
        <div class="wrapper">
            <h2 class="heading h-2" data-trans="{{ 'Section Header'|trans({}, 'widgets') }}">{{ content.labelHeader|trans({}, 'widgets') }}</h2>
        </div>
    </div>
</div>