<div class="page-wrapper">
    <header id="header" class="header">
        <div class="container">
            <div class="branding">
                <h1 class="logo">
                    <a href="/docs">
                        <span aria-hidden="true" class="icon_documents_alt icon"></span>
                        <span class="text-highlight">ArCraft</span><span class="text-bold">Docs</span>
                    </a>
                </h1>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/docs">Home</a></li>
                <li class="breadcrumb-item active">Components</li>
            </ol>
        </div>
    </header>
    <section class="cards-section text-center">
        <div class="container">
            <div id="doc-header" class="doc-header text-center">
                <h1 class="doc-title"><span aria-hidden="true" class="icon icon_puzzle_alt"></span> Components</h1>
                <div class="meta"><i class="far fa-clock"></i> Last updated: <?php echo $updated; ?></div>
            </div>
            <div id="cards-wrapper" class="row">
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Ads</h3>
                        <a class="link" href="ads"><span></span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Thin Strip</h3>
                        <a class="link" href="thin-strip"><span></span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Articles</h3>
                        <a class="link" href="articles"><span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
