<div class="form-group row">
    <div class="col-sm-8" id="tour-listing">
        <label for="listing_id">{{ "Associate with a Listing"|trans }}</label>
        <input type="text" class="form-control listing-select" name="listing_id" id="listing_id"
               placeholder="{{ "Associate with a Listing"|trans }}"
               data-value="{{ listing_id }}">
        <p id="helpBlockEmpty" class="help-block small">{{ "Leave it blank to unlink the Event."|trans }}</p>
    </div>
</div>