{% extends 'AdminBundle:components:index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body { margin: 0 20px; }
        h2 { font-weight: 300; }
    </style>
{% endblock -%}

{% block content %}
    <h2>Input + label</h2>
    <hr><br>

    <br><br>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
