{% if items|length > 0 %}
    <div class="list-columns">
        <ul class="list-unstyled">
            {% for item in items -%}
                <li>
                    <a href="{{ item.pageUrl }}">
                        {{ item.label|trans }}
                    </a>
                </li>
            {% endfor -%}
        </ul>
    </div>
{% endif %}
