{% for item in items -%}
    <a href="{{ item.pageUrl }}" id="navigation-item-{{ loop.index }}" class="navbar-link {{ item.pageUrl|trim('/') == app.request.uri|trim('/') ? 'is-active' : '' }}">{{ item.label|trans }}</a>
{% endfor -%}
