<p style="color: #efefef; font-size: 150px; text-align: center;">
    <span class="fa-stack fa-lg">
        <em class="fa fa-circle fa-stack-2x"></em>
        &nbsp;
        <em class="fa fa-coffee fa-stack-1x fa-inverse"></em>
    </span>
</p>
<h1 style="text-align: center;">
    <span style="color: #cdcdcd; font-size: 30px; text-transform: uppercase;">{{ 'We are under maintenance'|trans({}, 'widgets') }}</span>
</h1>
<p style="text-align: center;">
    <span style="color: #999999;">&nbsp;</span>
</p>
<p style="text-align: center;">
    <span style="color: #999999; font-size: 16px;">{{ 'Please come back later'|trans({}, 'widgets') }}</span>
</p>