<h2>{{ 'Terms of Use'|trans({}, 'widgets') }}</h2>
<p>&nbsp;</p>
<p>{{ 'Pellentesque nulla sem, suscipit quis mattis et, imperdiet nec massa. Mauris faucibus fermentum aliquam. Aliquam commodo egestas iaculis.
    Pellentesque ut mauris nisi, commodo gravida elit. Phasellus eget diam eros. Donec ante velit, dignissim in congue eget, congue in quam.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed ut ipsum nisi, ut pulvinar augue.
    Quisque blandit facilisis velit non ornare. Cras et urna nunc. Praesent non ante urna. Sed vehicula nulla sit amet lacus mattis scelerisque.
    Sed non felis arcu. Morbi congue aliquet ante, quis vestibulum ipsum gravida non. Sed ante felis, lobortis ac pharetra fermentum,
    aliquet id elit.' }}
    <br />
    <br />
    {{ 'Maecenas lobortis eleifend turpis, eu luctus sapien ultricies vitae. Aliquam erat volutpat. Nullam dolor odio, dapibus sed pellentesque nec,
    adipiscing eget quam. Integer mi sem, pharetra ac convallis eget, sodales in mauris. Suspendisse quis urna non nisl ullamcorper imperdiet a
    quis eros. Vivamus egestas posuere consequat. Nulla a commodo nunc. Morbi ut enim lectus, vitae pretium dui. Phasellus lacinia, lorem id
    malesuada luctus, enim augue fermentum augue, eu luctus dolor magna et turpis. Praesent vitae ornare mauris.' }}
    <br />
    <br />
    {{ 'Nam eget libero at tortor auctor placerat at vitae orci. Fusce tempus luctus dolor. Vivamus pharetra erat vitae ipsum pharetra ut tincidunt
    lacus pharetra. Sed viverra interdum fringilla. Aenean cursus nulla at neque luctus et pellentesque ante dignissim. Ut luctus odio et velit
    suscipit imperdiet. Cras semper, leo quis venenatis elementum, nibh diam blandit nulla, ut dictum ipsum lectus non diam. Vivamus ac convallis
    velit. Nulla est magna, bibendum eu luctus sed, dignissim in libero. Etiam sit amet purus ut odio mollis varius. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas. Donec non velit vel augue mollis blandit eu eu metus. Morbi dapibus
    porttitor scelerisque. Praesent ultricies erat ac nisi laoreet sit amet consequat leo fringilla. Fusce egestas neque ut nisl mattis eget
    dignissim elit accumsan. Phasellus mollis dapibus tristique. Sed ut velit non nibh sagittis ornare sed feugiat nibh.' }}
</p>